/* Theme */
html {
    --theme_accent: rgb(2, 213, 255);/* --theme_accent: rgb(77, 160, 255); */
    --theme_background: rgb(20, 20, 20);
    --theme_group_background: rgb(20,20,25);
    --theme_tab_gradient_1: rgb(28,28,33);
    --theme_tab_gradient_2: rgb(10,10,15);
    --theme_tab_gradient_3: rgb(20,20,28);
    --theme_text_header: rgb(199, 199, 247);
    --theme_text_paragraph: rgb(164, 164, 201);
    --theme_text_primary: rgb(240,240,240);
    --theme_text_secondary: rgb(145,145,145);
    --theme_text_light: rgb(215,215,215);
    --theme_text_error: rgb(195,55,55);
    --theme_border_1: rgb(15,15,25);
    --theme_border_2: rgb(50,50,60);
    --theme_border_3: rgb(40,40,50);
}

/* CSS */
#particles-js, #parallax, .layer{
	height: 100%;
	position: absolute;
    width: 100%;
    
}
    

#particles-js{
	opacity: 0.6;
}

body 
{
    margin: 0px;
    background-color: var(--theme_background);
    overflow-y: hidden;
    font-family: "Montserrat", sans-serif;
}
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(100%);
  }
.index_message, .index_message:link, .index_message:active, .index_message:visited
{
    color: var(--theme_text_primary) !important;
    line-height: 10px;
    font-size: 13px !important;
    font-family: Montserrat;
    font-style: normal;
    user-select: none;
}

.container_main
{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50.2%);
    text-align: center;
}

.container_main ul, .container_main ul:link, .container_main ul:visited, .container_main ul:active
{
    color: var(--theme_text_primary);
    text-shadow: 0 0 8px var(--theme_accent);
    list-style: none;
    line-height: 10px;
    margin-top: 5px;
    text-align: center;
    user-select: none;
}

.container_main a[href] 
{
    color: var(--theme_text_primary);
    text-decoration: none;
    font-family: Montserrat;
    user-select: none;
}

.container_main a[href]:hover
{
    color: var(--theme_accent);
    font-family: Montserrat;
    text-decoration: underline;
    animation-name: glow_anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.img
{
    width: 100px;
    height: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    filter: brightness(10%) sepia(1) saturate(100) hue-rotate(275deg) drop-shadow(0 0 10px rgb(2, 213, 255));
    position: relative;
    user-select: none;
}

button
{
    display: block;
    color: var(--theme_text_primary);
    background-color: var(--theme_background);
    border: 1px solid var(--theme_accent);
    border-radius: 5px;
    width: 100%;
    padding: 8px 8px;
    cursor: pointer;
    font-family: Montserrat;
    font-style: normal;
    font-size: 13px;
}

input
{
    display: block;
    color: var(--theme_text_primary);
    background-color: var(--theme_background);
    border: 1px solid var(--theme_accent);
    border-radius: 5px;
    outline: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 8px;   
    font-family: Montserrat;
    font-style: normal;
    font-size: 13px;
    margin-bottom: 10px;
}

.header
{
    font-size: 16px !important;
}

.title, .title:link, .title:active, .title:visited
{
    color: var(--theme_accent) !important;
    text-shadow: 0 0 8px var(--theme_accent) !important;
    line-height: 5px;
    font-size: 20px !important;
    font-family: Montserrat;
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
    user-select: none;
}

